<!-- Begin Header -->
<header id="header" class="page-topbar" ng-controller="HeaderCtrl" >
	 <div class="navbar-fixed">
			 <nav class="navbar-color">
					 <div class="nav-wrapper">
							 <div class="header-search-wrapper hide-on-med-and-down">
									 <i class="mdi-action-search"></i>
									 <input type="text" ng-model="search" name="Search" class="header-search-input z-depth-2" ng-trim="true" ng-change="searching()" placeholder="Rechercher un personnage">
							 </div>

							 <ul class="right hide-on-med-and-down">
								 <li><a href="#/">Page d'accueil</a></li>
								 <li><a href="#/contact" >Page de contact</a></li>
							 </ul>
					 </div>
			 </nav>
	 </div>
</header>
<!-- End Header -->
